---
layout: page
permalink: /404.html
---

<style type="text/css" media="screen">
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Fora Bolsonaro até no vazio!!! :(</strong></p>
  <p>Não encontramos nada por aqui.</p>
  Certamente por estarmos em construção<br/>
  <i class="fas fa-wrench"></i>

</div>
