
<footer class="text-light">
  <div class="container px-4 px-md-0">
    <div class="row">
      <div class="col-12 col-md-6 pr-lg-5">
        <h6>Muralha Antifa</h6>
        <p>
		Coletivo de Música de e para protestos populares
        </p>
      </div>
      <div class="col-4 col-md-3">
        <h6>Explore</h6>
        <ul class="list-unstyled">
          {% for item in site.data.navigation %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-8 col-md-3">
        <h6>Contato</h6>
         <a name="contato"></a>
        <p class="text-sm ">
          Muralha Antifascista <br>
          <a href="mailto:converse@muralhaantifa.art.br">contato@muralhaantifa.art.br</a> <br>
	 <a href="https://api.whatsapp.com/send?phone=5561981398977&text=Sobre+a+muralha"> <i class="fab fa-whatsapp" aria-hidden="true"></i>WhatsApp</a> <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-line text-center">
    <small>
      <span style="
              display: inline-block;
              text-align: right;
              margin: 0px;
              -moz-transform: scaleX(-1);
              -o-transform: scaleX(-1);
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
              filter: FlipH;
              -ms-filter: 'FlipH'">©</span>
               CC-BY-NC SA 4.0</br>
            
      Rodando com SW Livre <a href="https://jekyllrb.com/">Jekyll</a> <br />
    </small>
  </div>
</footer>
