<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/fa-5.10.2/css/all.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css?v={{ site.time | date: '%s' }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Spectral&display=swap" rel="stylesheet">

  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

  {% seo %}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/pygments-css/native.css">
</head>
