<nav class="navbar navbar-light bg-light static-top navbar-expand-lg py-3">
  <div class="container">
    <a class="navbar-brand w-600" href="/">
      <img src="/assets/img/muralha_logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
      MURALHA ANTIFA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        {% if site.data.navigation %}
        {% for item in site.data.navigation %}
        <li class="nav-item 
                  {% if (item.link == page.url) or 
                    (item.name == 'Blog' and page.url contains '/blog/') %} 
                    active
                  {% endif %}">
          <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
