---
layout: default
---

{% include header.html image="/assets/img/muralha_convoca.jpeg" title="Muralha Antifascista"
    subtitle=""
    boldtitle="true"  %}

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="/contato">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-bullhorn m-auto"></i>
            </div>
            <h3>Contato</h3></a>
            <p class="lead mb-3" style="font-size: 0.875rem">A Muralha Antifa é um movimento aberto para quem quiser fazer parte e levar a música e arte de rua para os protestos.<br>
            A Muralha se encontra e se mobiliza na rua: nos ensaios quinzenais e nas manifestações!<br>
            Encontre-se com a gente lá! Também temos os contatos <a href="#contato">abaixo</a></p>
          </div>
      </div>
      <div class="col-lg-4">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-fist-raised m-auto"></i>
            </div>
            <h3>Próximos ensaios/manifestações</h3>
            <p class="lead mb-0" style="font-size: 0.875rem">
            <i class="fas fa-drum"></i><a href="/blog/2025/02/historico-de-ensaios.html">Para ver ensaios passados, clique aqui</a><br>
            <i class="fas fa-drum"></i><a href="/blog/2025/02/ensaio-autodefesa-carnaval.html">Ensaio 17/02/25 19h na Galeria dos Estados</a><br>
            <br></small>
		</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="/blog">
          <div class="features-icons-item mx-auto mb-4 mb-lg-0">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-blog m-auto"></i>
            </div>
            <h3>Informações</h3>
            <p class="lead mb-0">Acompanhe as últimas no Mural da Muralha</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="hero text-white inner-shadow">
  <div class="container-fluid p-0">
    <div class="text-center">
      <h1 class="text-shadow w-600">Repertório Musical</h1>
              <i class="fas fa-music"></i><br>
      <h4 class="text-shadow w-500">Arte engajada: Uma das formas mais viscerais de manifestação</h4>
      <a href="https://drive.google.com/drive/folders/1WQWg0WoPSss_pq6_evVEMizt5Mzuk9uq" class="btn btn-light">
        Partituras, Gravações e mais
      </a>
      <a href="https://open.spotify.com/playlist/0rFHjOhb14IEhB2wKGrxLc?si=e74acc6edee24454" class="btn btn-light">
        <i class="fab fa-spotify"></i>Playlist
      </a>
    </div>
  </div>
</section>

<section style="padding: 6rem 0; background: rgb(241, 242, 243);">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <h2 class="mb-4">Um Coletivo de Música e arte</h2>
        <p class="lead">
		Formado para tocar e se apresentar em manifestações.
        </p>
        <a href="/manifesto" class="btn btn-outline-dark">Manifesto</a>
      </div>
    </div>
  </div>
</section>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/assets/img/ensaio_muralha_marielle.jpg'); background-size: cover; background-position: center center;">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Ensaios e apresentações</h2>
        <ul class="mb-0 pl-0 list-unstyled" style="font-size: 1.15rem;">
<!--          <li><a href="https://drive.google.com/folderview?id=1B67eUuTKYaZIpmFebtjDi3jf8Bj-jwf_" target="_blank">Banca da Colina</a> Ensaio e abraço à banca Colina</li> -->
          <li><a href="https://drive.google.com/file/d/14ORP3R3BA5tv55v1eewhx-F7gSSdmBTB/view?usp=sharing" target="_blank">Galeria dos Estados</a> Desafios da ocupação da cidade e respeito</li>
          <li><a href="https://drive.google.com/folderview?id=1B67eUuTKYaZIpmFebtjDi3jf8Bj-jwf_" target="_blank">206N próximo a Babilônia</a> Ensaio no estacionamento aberto</li> 
        </ul>

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img"
        style="background-image: url('/assets/img/pacotao_vitoria.png'); background-size: cover; background-position: center center;">
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Nossos Objetivos</h2>
        <p class="lead mb-2">
		Expressão, envolvimento e impacto nas manifestações e protestos populares.
          <ul class="pl-4 mb-0" style="font-size: 1.15rem;">
            <li>Disseminar a arte como parte integral e potencializadora das manifestações populares</li>
            <li>Pela democracia e pela democratização</li>
            <li>Fora Bolsonaristas!</li>
            <li>Sem Anistia para golpista!</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<section style="background: rgb(241, 242, 243); padding: 5rem 0;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-lg-3">
        <img src="/assets/img/muralha_logo.png" alt="" width="100%">
      </div>
      <div class="col-8 col-lg-9">
        <p class="lead mb-0">
          Projeto apoiado pelos participantes de forma voluntária.
        </p>
      </div>
    </div>
  </div>
</section>

{% include latest_posts.html %}
